.nav-bar-group {
    margin-top: 30px;
    gap: 16px;
  }

  .flex {
    display: flex;
  }

  .jc-center {
    justify-content: center;
  }
  
  .column {
    flex-direction: column;
  }

  .ai-center {
    align-items: center;
  }

  .jc-end {
    justify-content: flex-end;
  }
  
  .jc-around {
    justify-content: space-around;
  }
  
  .jc-evenly {
    justify-content: space-evenly;
  }