.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
}

.login-group {
  margin-top: 70px;
  padding: 20px 30px;
  border-radius: 12px;
  box-shadow: 0 0 9px 0 rgba(3, 3, 3, 0.199);
}

.image_group {
  margin-top: 30px;
}

.login {
  font-size: 20px;
  width: 100%;
  margin-top: 10px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
  margin-top: 18px;
}

a {
  margin-top: 10px;
  font-size: 12px;
}
