.Nav-bar {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 9px;
  margin-bottom: 30px;
}

.Nav-bar .container {
  margin: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: auto;
  width: 50%;
  gap: 30px;
  font-size: 25px;
}
