.nav-bar-group {
  margin-top: 30px;
}

.group-nav {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.flex {
  display: flex;
}

.Nav-bar-title {
  margin: 0;
}

.logo-shadow {
  position: absolute;
  z-index: -1;
  top: 10px;
  left: 0;
  filter: blur(15px);
}

.image_group {
  position: relative;
}

.group-nav-itens {
  gap: 50px;
}

.logout {
  background-color: #f19b26;
  box-shadow: 0 12px 15px 2px #f19b2640;
  height: 40px;
  width: 90px;
  border-radius: 14px;
}
