.nav-bar-group {
  margin-top: 30px;
}

.group-nav {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.flex {
  display: flex;
}

.Nav-bar-title {
  margin: 0;
}

.logo-shadow {
  position: absolute;
  z-index: -1;
  top: 10px;
  left: 0;
  filter: blur(15px);
}

.image_group {
  position: relative;
}

.group-nav-itens {
  gap: 50px;
}

.logout {
  font-weight: 100px;
  background-color: #e7b56f93;
  height: 40px;
  width: 90px;
  border-radius: 14px;
}

.group-logout {
  display: flex;
  flex-direction: row;
  gap: 12px;
}
