* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

button,
input,
textarea {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

a:visited {
  color: #0000ff;
}

.my-pet-input {
  padding: 10px 15px;
  border-radius: 4px;
  border: 2px solid #ccc;
  font-size: 16px;
}

.my-pet-button {
  background-color: #f19b26;
  box-shadow: 0 12px 15px 2px #f19b2640;
  color: black;
  cursor: pointer;
  outline: none;
  display: flex;
  transition: background 300ms ease;
  border-radius: 14px;
  align-items: center;
  justify-content: center;
  border-style: none;
  padding: 15px;
}

.my-pet-button:focus {
  background-color: #cc8520;
}

.my-pet-input:focus {
  border-color: #cc8520;
  outline: none;
}

.jc-center {
  justify-content: center;
}

.jc-end {
  justify-content: flex-end;
}

.jc-around {
  justify-content: space-around;
}

.jc-evenly {
  justify-content: space-evenly;
}

.ai-center {
  align-items: center;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

._row {
  flex-direction: row;
}

.jc-between {
  justify-content: space-between;
}

.m-0 {
  margin: 0 !important;
}

.p-0 {
  padding: 0 !important;
}
