body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

button,
input,
textarea {
  font-family: 'Roboto', sans-serif;
}

.loading {
  width: 30px;
  height: 30px;
  border: 3px solid black;
  border-left-color: transparent;
  border-radius: 100px;
  animation: rotate 600ms linear infinite;
}

@keyframes rotate {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(360deg);
  }
}

.balance {
  margin-top: 20px;
}

button {
  outline: none;

  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  height: 50px;
  width: 50px;
  border-radius: 40px;
  border-style: none;
  background-color: #f19b26;
  color: black;
  font-size: 35px;
  cursor: pointer;
  box-shadow: 0 12px 15px 2px #f19b2640;
}

button:active {
  background-color: #d4891f;
}

.group {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav-bar {
  background-color: rgb(221, 130, 130);
  width: 100%;
  height: auto;
}
