* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

button,
input,
textarea {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

a:visited {
  color: #0000ff;
}

.jc-center {
  justify-content: center;
}

.jc-end {
  justify-content: flex-end;
}

.jc-around {
  justify-content: space-around;
}

.jc-evenly {
  justify-content: space-evenly;
}

.ai-center {
  align-items: center;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

._row {
  flex-direction: row;
}

.jc-between {
  justify-content: space-between;
}

.m-0 {
  margin: 0 !important;
}

.p-0 {
  padding: 0 !important;
}
